$phone: '(min-width: 480px)';
$tablet: '(min-width: 768px)';
$tablet-l: '(min-width: 992px)';
$laptop: '(min-width: 1200px)';

$smaller-phone: '(max-width: 479px)';
$smaller-tablet: '(max-width: 767px)';
$smaller-tablet-l: '(max-width: 991px)';
$smaller-laptop: '(max-width: 1199px)';
