.header__content {
  padding: 50px 0;
  border-bottom: 1px solid #767676;

  @media (max-width: 520px) {
    border-bottom: none;
  }

  @media (max-width: 360px) {
    padding: 30px 0;
  }
}

.header__icon {
  width: 278px;
  height: 36px;

  @media (max-width: 520px) {
    width: 210px;
    height: 28px;
  }

  @media (max-width: 360px) {
    width: 150px;
    height: 20px;
  }
}
