.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1 1 auto;
}

.wrapper {
  max-width: 1920px;
  padding: 0 50px;
  margin: 0 auto;
  
  @media (max-width: 480px) {
    padding: 0 20px;
  }
}
