.caption {
  font-size: 13px;
  margin-bottom: 0.7rem;
  color: #696969;
  line-height: 1.4;
}

.pristine-error {
  font-size: 13px;
  margin-top: 6px;
  color: #ff0000;
}

.text-left {
  text-align: left;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}